<form #postForm2="ngForm">
  <mat-toolbar class="tool" color="warn">
    <button (click)="inicio()" mat-icon-button>
      <img class="imgLogo" src="../../assets/images/LogoBlanco2.png">
    </button>
    <span class="fill"></span>
    <div title="Cerrar Sesion">
    <button class="figures" mat-icon-button (click)="onSubmit()">
      <mat-icon class="icon">logout</mat-icon>
    </button>
  </div>
  </mat-toolbar>
</form>

<!-- <a mat-icon-button href='https://www.salud-digna.org/'  class="buttonPosition" type="submit"></a> -->
