<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
<footer class="footer_area">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">Contacto</h4>
							<ul>
								<li>Ricardo Rechy</li>
								<li>(+52) 1 773 133 7654</li>
								<li>ricardo.rechy@salud-digna.org</li>
							</ul>
						</div>
					</div> <!--  End Col -->

					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">Información</h4>
							<ul>
								<li><a href="#">Sobre Nosotros</a></li>
								<li><a href="#">Políticas de Privacidad</a></li>
								<li><a href="#">Términos y Condiciones</a></li>
								<li><a href="#">Quejas y Reportes</a></li>
							</ul>
						</div>
					</div> <!--  End Col -->

					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">Servicios</h4>
							<ul>
								<li><a href="#">Mastografía</a></li>
								<li><a href="#">Laboratorio</a></li>
								<li><a href="#">Ultrasonido</a></li>
								<li><a href="#">Lentes</a></li>
								<li><a href="#">Electrocardiograma</a></li>
                <li><a href="#">Tomografía</a></li>
							</ul>
						</div>
					</div> <!--  End Col -->

					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">Sobre Nosotros...</h4>
							<div class="newsletter_form">
								<p>
                  Somos una institución no lucrativa fundados con el propósito de llevar
                  servicios de prevención y diagnóstico a la población mexicana,
                  a precios accesibles y ofreciéndoles una atención y equipo de calidad</p>
							</div>
						</div>
					</div> <!--  End Col -->

				</div>
			</div>


			<div class="ftr_btm_area">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="ftr_social_icon">
								<ul>
									<li (click)="onSubmitFacebook()" ><a href="#"><img src="../../assets/images/facebook.png" alt=""><i class="fa fa-facebook"></i></a></li>
									<li (click)="onSubmitWhatsapp()"><a href="#"><img src="../../assets/images/whatsapp.png" alt=""><i class="fa fa-google"></i></a></li>
									<li (click)="onSubmitYoutube()"><a href="#"><img src="../../assets/images/youtube.png" alt=""><i class="fa fa-google"></i></a></li>
                  <li (click)="onSubmitInstagram()"><a href="#"><img src="../../assets/images/instagram.png" alt=""><i class="fa fa-google"></i></a></li>

								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<p class="copyright_text text-center">© 2022 - Salud Digna</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
