<div class="divMayor">
  <mat-card>
    <form [formGroup]="form" (submit)="onSaveDataLogin()">
      <div class="divTitle">
        <h1 class="textTitle">Regístrate aquí</h1>
      </div>
      <mat-form-field>
        <input
        placeholder="Usuario"
        class="inputUsuario"
        matInput
        type="text"
        formControlName="usuario">
        <mat-error *ngIf="form.get('usuario').invalid">Por favor ingresa un usuario</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
        placeholder="Email"
        class="inputUsuario"
        matInput
        type="text"
        formControlName="email">
        <mat-error *ngIf="form.get('email').invalid">Por favor ingresa un email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
        placeholder="Contraseña"
        matInput
        type="text"
        formControlName="contraseña">
        <mat-error *ngIf="form.get('contraseña').invalid">Por favor ingresa una contraseña</mat-error>
      </mat-form-field>



  <div class="divButton">
    <button
      class="button"
      mat-raised-button
      color="warn"
      type="submit">Aceptar</button>
    </div>

    </form>
  </mat-card>
  </div>
